meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
meta(http-equiv="X-UA-Compatible" content="IE=Edge")
link(type="text/css" href="/css/styles.css" rel="stylesheet")
//- link(type="text/css" href="/css/bootstrap.min.css" rel="stylesheet")
link(type="text/css" href="/css/fontawesome.min.css" rel="stylesheet")
//- link(rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.1.2/build/styles/default.min.css")
//- link(type="text/css" href="/css/postboot.css" rel="stylesheet")
//- link(rel="stylesheet" href="css/tomorrow.css" id="theme-stylesheet")
//- link(rel="stylesheet" href="css/custom.css")
//- link(rel="stylesheet" href="css/overrides.css")